@model List<Slider>
@{
    int count = 0;
}


<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">DataTables.Net</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tables</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Datatables</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create </h4>
                        <a asp-action="create" class="btn btn-outline-success">Create</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables"
                                   class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Count</th>
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th>Desc</th>
                                        <th>Link</th>
                                        <th>Text</th>
                                        <th>Setting</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Count</th>
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th>Desc</th>
                                        <th>Link</th>
                                        <th>Text</th>
                                        <th>Setting</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var slider in Model)
                                    {
                                        <tr>

                                            <td>@(++count)</td>
                                            <td><img width="100" height="100" src="~/assets/img/slider/@slider.Image" /></td>
                                            <td>@slider.Title</td>
                                            <td>@slider.Description</td>
                                            <td>@slider.ButtonLink</td>
                                            <td>@slider.ButtonText</td>
                                            <td>@slider.OrderQueue</td>
                                            <td>
                                                <a asp-action="Detail" asp-route-id="@slider.Id" class="btn btn-success">View Detail</a>
                                                <a asp-action="Edit" asp-route-id="@slider.Id" class="btn btn-primary">Edit</a>

                                                <button class="btn btn-danger delete-btn"
                                                        data-id="@slider.Id"
                                                        data-title="@slider.Title"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#deleteModal">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this slider?</p>
                <p><strong>Title:</strong> <span id="deleteSliderTitle"></span></p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    <input type="hidden" name="id" id="hiddenSliderId">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#sliderTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true
            });

            $(".delete-btn").click(function () {
                let sliderId = $(this).data("id");
                let sliderTitle = $(this).data("title");

                $("#deleteSliderTitle").text(sliderTitle);
                $("#hiddenSliderId").val(sliderId);
                $("#deleteForm").attr("action", "/Manage/Slider/Delete/" + sliderId);
            });
        });
    </script>
}
